caps:
  platformName: "Android"
  deviceName: "emulator"
  build: "E2e testing with ruby"
  device: "Google Pixel 3"
  browserstack.debug: true
  app: "your hash app"

appium_lib:
  server_url: <%= "https://your_user:your_key@hub-cloud.browserstack.com/wd/hub" %>